<ion-view view-title="Worbi" ng-controller="HomeCtrl as ctrl">
    <check-user></check-user>
	<button class="button button-assertive button-fab button-fab-bottom-right" ng-click="ctrl.showOptionsCoach()" ng-show="ctrl.profile.isCoach">
		<i class="icon ion-plus"></i>
	</button>
	
	<ion-tabs class="tabs-icon-top tabs-default" ng-hide="isAdmin || ctrl.profile.isAthlete">

        <ion-tab title="Atletas" class="tab-title" ui-sref="tabs.athletes">
          <ion-nav-view name="athletes-tab"></ion-nav-view>
			<ion-view view-title="Atletas">
			    <ion-content class="padding">

			    	<ion-refresher on-refresh="ctrl.loadWorkoutTab()">
	          		</ion-refresher>

					<div class="hero profile-hero hero-mini">
			            <div class="content">
			                <h3><a class="light">{{ctrl.profile.user.name}}</a></h3>
	                		<h4>{{ctrl.profile.user.email}}</h4>
			            </div>
			        </div>
					<div class="list card">
						<div class="item">
		          			<h2>Atletas</h2>
		          		</div>
			          	<div class="list">
	                        <list-options-profile ng-repeat="athlete in ctrl.profile.coach.athletes"
	                            profile="athlete" 
	                            show-badge="false"
	                            type="athlete"
	                            parent-id="{{ctrl.profile.coach.idCoach}}"
	                        ></list-options-profile>
	                    </div>
			    	</div>
			    </ion-content>
		    </ion-view>
        </ion-tab>

        <ion-tab title="Mensagens" class="tab-title" ui-sref="tabs.messages">
          <ion-nav-view name="messages-tab"></ion-nav-view>
			<ion-view view-title="Mensagens">
		        <ion-content class="padding">
		          	<message-container
	        			user="ctrl.profile.coach.credential">
	        		</message-container>
		        </ion-content>
		    </ion-view>
        </ion-tab>

    </ion-tabs>


	<ion-tabs class="tabs-icon-top tabs-default" ng-hide="isAdmin || ctrl.profile.isCoach">
        <ion-tab title="Treinos" ui-sref="tabs.workout">
          <ion-nav-view name="workout-tab"></ion-nav-view>
          <ion-view view-title="Treinos">
	        <ion-content class="padding">
	          	<ion-refresher on-refresh="ctrl.loadWorkoutTab()">
	          	</ion-refresher>

	          	<workout-list ng-repeat="workout in ctrl.workouts"
	          		workout="workout">
	          	</workout-list>

	        </ion-content>
	      </ion-view>
        </ion-tab>

        <ion-tab title="Mensagens" ui-sref="tabs.chanlenge">
          <ion-nav-view name="chanlenge-tab"></ion-nav-view>
          <ion-view view-title="Mensagens">
	        <ion-content class="padding">

	        	<message-container
	        		user="ctrl.profile.athlete.credential">
	        	</message-container>

	        </ion-content>
	      </ion-view>
        </ion-tab>
        
        <ion-tab title="Treinadores" class="tab-title" ui-sref="tabs.dashboard">
          <ion-nav-view name="dashboard-tab"></ion-nav-view>
			<ion-view view-title="Treinadores">
		        <ion-content class="padding">
		          	<div class="list card">
						<div class="item">
		          			<h2>Treinadores</h2>
		          		</div>
			          	<div class="list">
	                        <list-options-profile ng-repeat="coach in ctrl.profile.athlete.coach"
	                            profile="coach" 
	                            show-badge="false"
	                            type="coach"
	                            parent-id="{{ctrl.profile.athlete.idAthlete}}"
	                        ></list-options-profile>
	                    </div>
			    	</div>
		        </ion-content>
		    </ion-view>
        </ion-tab>
    </ion-tabs>


    <ion-content>
    	<div class="bar bar-subheader bar-stable static text-center" ng-show="isAdmin">
            <strong class="title">Painel Administrador</strong>
        </div>

    	<div class="row" ng-show="isAdmin">
    		<div class="col">
	    		<button-link href="#/app/admin/create-user" icon="ion-plus" icon-position="top" label="Novo Usuário">
	    		</button-link>
    		</div>
    		<div class="col">
	    		<button-link href="#/app/admin/search" icon="ion-search" icon-position="top" label="Pesquisar">
	    		</button-link>
    		</div>

    	</div>

    </ion-content>
</ion-view>