<ion-view hide-nav-bar="true" view-title="Login" align-title="left"
  ng-controller="LoginCtrl as ctrl">
    <ion-content style="background: url(img/header-21.jpg) left; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1 class="login">Worbi</h1>
            </div>
        </div>

        <div class="col-md-12" ng-show="error">
            <div class="alert alert-danger alert-message" role="alert">
                {{errorMessage}}
            </div>
        </div>

        <div class="list list-login">
            

            <ion-md-input ng-model="ctrl.user.email" placeholder="Email" highlight-color="balanced" type="email"></ion-md-input>
            <ion-md-input ng-model="ctrl.user.password" placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <a class="btn btn-lg btn-block button-assertive" style="color:#fff;" ng-click="login(ctrl.user);">Login</a>
        </div>
        <div class="padding">
            <a class="btn btn-sm btn-block btn-link" style="color:#fff;" ng-click="goToRecoverPassword();">esqueci a senha</a>
        </div>
    </ion-content>
</ion-view>