﻿
<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <!--
                <button class="button button-icon button-clear fas fa-bell-o" id="menu-popover" ng-click="popover.show($event)"></button>
                -->
            </ion-nav-buttons>
        </ion-nav-bar>
        

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="expanded">
            <a ui-sref="app.home" nav-clear menu-close>
                <img src="img/logo.png" class="avatar motion spin fade">
            </a>
            <div class="menu-bottom">
                {{menuName}}
            </div>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list>

                <ion-item ng-repeat="links in menuLinks" nav-clear menu-close href="{{links.link}}">
                    <i class="{{links.icon}}" ng-show="{{links.icon != null}}"></i>
                    {{links.label}}
                </ion-item>

                <ion-item ng-click="logout()" nav-clear menu-close href="#/app" icon="ion-power">
                    <i class="icon ion-power"></i>
                    Sair
                </ion-item>

            </ion-list>
            
        </ion-content>
    </ion-side-menu>
</ion-side-menus>