<ion-view view-title="Perfil Usuário" ng-controller="ProfileCtrl as ctrl">

    <button class="button button-assertive button-fab button-fab-bottom-right" ng-click="ctrl.showOptions()">
        <i class="icon ion-plus"></i>
    </button>

    <ion-content>
        <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
            <div class="hero profile-hero">
                <div class="content">
                    <div class="avatar"><i class="fas fa-user fa-5x"></i></div>
                    <h3><a class="light">{{ctrl.profile.user.name}}</a></h3>
                    <h4>{{ctrl.profile.user.email}}</h4>
                </div>
            </div>

            <div ng-show="ctrl.profile.user.isAdmin">
                <h4 class="content padding double-padding-x">Administrador</h4>
            </div>

            <!-- Athlete Tabs -->
            <div class="tabs tabs-dark tabs-icon-top static nav nav-tabs" ng-show="ctrl.profile.isAthlete" role="tablist">
                <a data-target="#tab-atl-sports" class="tab-item active" data-toggle="tab">
                    <i class="icon fas fa-bars"></i> Esportes
                </a>
                <a data-target="#tab-atl-data" class="tab-item" data-toggle="tab">
                    <i class="icon ion-arrow-graph-up-right"></i> Dados
                </a>
                <a data-target="#tab-atl-coach" class="tab-item" data-toggle="tab">
                    <i class="icon fas fa-user-circle"></i> Treinador
                </a>
            </div>
            <!-- Athlete Tab panes -->
            <div id="athletePanes" class="tab-content" ng-show="ctrl.profile.isAthlete">

                <div role="tabpanel" class="tab-pane active" id="tab-atl-sports">
                    <h4 class="content padding double-padding-x">Atleta</h4>

                    <div class="list">
                        <a class="item item-avatar item-icon-right in done" ng-repeat="sport in ctrl.profile.athlete.sports">
                            <img src="img/{{sport.name}}.png">
                            <h2>{{sport.label}}</h2>
                            <br />
                        </a>
                    </div>

                </div>

                <div role="tab" class="tab-pane" id="tab-atl-data">
                    <h4 class="content padding double-padding-x">Dados</h4>
                    <div class="list">
                        <list-item 
                            title="Data de Nascimento"
                            content="{{ctrl.profile.athlete.birthDate | date:'dd/MM/yyyy'}}">    
                        </list-item>
                        <list-item 
                            title="Gênero"
                            content="{{ctrl.profile.athlete.genderDesc}}">    
                        </list-item>
                        <list-item 
                            title="Peso"
                            content="{{ctrl.profile.athlete.weight}}"
                            suffix="kg">    
                        </list-item>
                        <list-item 
                            title="Altura"
                            content="{{ctrl.profile.athlete.height}}"
                            suffix="m">    
                        </list-item>
                    </div>
                </div>

                <div role="tab" class="tab-pane" id="tab-atl-coach">
                    <h4 class="content padding double-padding-x">Treinador</h4>
                    <div class="list">
                        <list-options-profile ng-repeat="coach in ctrl.profile.athlete.coach"
                            profile="coach" 
                            show-badge="false"
                            type="coach"
                            parent-id="{{ctrl.profile.athlete.idAthlete}}"
                        ></list-options-profile>
                    </div>
                    <div class="col-md-12 list">
                        <button-link href="#/app/search/coach" icon="ion-search" icon-position="left" label="Procurar Treinadores"></button-link>
                    </div>
                </div>
            </div>

            <!-- Coach Tabs -->
            <div class="tabs tabs-dark tabs-icon-top static nav nav-tabs" ng-show="ctrl.profile.isCoach" role="tablist">
                <a data-target="#tab-coach-sports" class="tab-item active" data-toggle="tab">
                    <i class="icon fas fa-bars"></i> Esportes
                </a>
                <a data-target="#tab-coach-data" class="tab-item" data-toggle="tab">
                    <i class="icon ion-arrow-graph-up-right"></i> Dados
                </a>
                <a data-target="#tab-coach-athlete" class="tab-item" data-toggle="tab">
                    <i class="icon fas fa-user-circle"></i> Atletas
                </a>
            </div>
            <!-- Coach Tab Panes -->
            <div id="coachPanes" class="tab-content" ng-show="ctrl.profile.isCoach">
                <div role="tabpanel" class="tab-pane active" id="tab-coach-sports">
                    <h4 class="content padding double-padding-x">Professor</h4>
                    <div class="list">
                        <a class="item item-avatar item-icon-right in done" ng-repeat="sport in ctrl.profile.coach.sports">
                            <img src="img/{{sport.name}}.png">
                            <h2>{{sport.label}}</h2>
                            <br />
                        </a>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="tab-coach-data">
                    <h4 class="content padding double-padding-x">Dados</h4>
                    <div class="list">
                        <list-item 
                            title="CREF"
                            content="{{ctrl.profile.coach.cref}}">
                        </list-item>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="tab-coach-athlete">
                    <h4 class="content padding double-padding-x">Atletas</h4>
                    <div class="list">
                        <list-options-profile ng-repeat="athlete in ctrl.profile.coach.athletes"
                            profile="athlete" 
                            show-badge="false"
                            type="athlete"
                            parent-id="{{ctrl.profile.coach.idCoach}}"
                        ></list-options-profile>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>