<ion-view view-title="Editar Perfil" ng-controller="ProfileCtrl as ctrl">
    <ion-content>

        <div class="list card">

            <div class="item item-divider">Dados de Acesso</div>
            <div class="item item-body">

                <wrb-input-text placeholder="Nome Completo" ng-model="ctrl.profile.user.name" type="text"></wrb-input-text>
                <wrb-input-text placeholder="Email" ng-model="ctrl.profile.user.email" type="email"></wrb-input-text>

            </div>

        </div>

        <div class="list card" id="atleta" ng-show="ctrl.profile.isAthlete">
            <div class="item item-divider">Dados de Atleta</div>
            <div class="item item-body">

                <wrb-input-date placeholder="Data de Nascimento" type="text" ng-model="ctrl.profile.athlete.birthDate"></wrb-input-date>

                <wrb-input-number placeholder="Peso (kg)" ng-model="ctrl.profile.athlete.weight"></wrb-input-number>
                <wrb-input-number placeholder="Altura (m)" ng-model="ctrl.profile.athlete.height"> </wrb-input-number>

                <wrb-input-check label="Masculino" name="gender" value="m" ng-model="ctrl.profile.athlete.gender" type="radio">
                </wrb-input-check>

                <wrb-input-check label="Feminino" name="gender" value="f" ng-model="ctrl.profile.athlete.gender" type="radio">
                </wrb-input-check>
            </div>

            <div class="item item-divider">Esportes</div>
            <div class="item item-body">
                <wrb-input-check ng-repeat="sport in ctrl.sports"
                    label="{{sport.label}}" name="sports-athlete" ng-value="{{sport.id}}" ng-model="ctrl.profile.athlete.sportsSelected[sport.id]" type="checkbox">
                </wrb-input-check>
            </div>

            <div class="item item-divider">Dias disponíveis</div>
            <div class="item item-body">
                <wrb-input-check ng-repeat="weekday in ctrl.weekdays"
                    label="{{weekday.label}}" name="weekday-athlete" value="{{weekday.id}}" ng-model="ctrl.profile.athlete.trainingWeekdaysSelected[weekday.id]" type="checkbox">
                </wrb-input-check>
            </div>
        </div>

        <div class="list card" id="professor" ng-show="ctrl.profile.isCoach">
            <div class="item item-divider">Dados de Professor</div>
            <div class="item item-body">
                <wrb-input-text placeholder="CREF" ng-model="ctrl.profile.coach.cref"></wrb-input-text>
            </div>

            <div class="item item-divider">Esportes</div>
            <div class="item item-body">
                
                <wrb-input-check ng-repeat="sport in ctrl.sports"
                    label="{{sport.label}}" name="sports-coach" value="{{sport.id}}" ng-model="ctrl.profile.coach.sportsSelected[sport.id]" type="checkbox">
                </wrb-input-check>

            </div>
        </div>

        <div class="padding">
            <button-link label="Salvar" href="#/app/profile/edit" ng-click="ctrl.saveProfile(ctrl.profile)">
            </button-link>
        </div>

    </ion-content>
</ion-view>