<ion-view view-title="Troca de Senha">
    <ion-content ng-controller="ProfileCtrl as ctrl">
        <div class="hero profile-hero">
            <div class="content">
                <div class="avatar"><i class="fas fa-user fa-5x"></i></div>
                <h3><a class="light">{{ctrl.profile.user.name}}</a></h3>
                <h4>{{ctrl.profile.user.email}}</h4>
            </div>
        </div>


        <div class="list card">

            <div class="item item-divider">Troca de Senha</div>
            <div class="item item-body">

                <wrb-input-text placeholder="Nova Senha" ng-model="ctrl.pass.newPassword.password" type="password"></wrb-input-text>
                <wrb-input-text placeholder="Confirmar Senha" ng-model="ctrl.pass.newPassword.confirm" type="password"></wrb-input-text>

            </div>

            <div class="item item-divider">Senha Atual</div>
            <div class="item item-body">
            	<wrb-input-text placeholder="Senha Atual" ng-model="ctrl.pass.currentPassword.password" type="password"></wrb-input-text>
            </div>
        </div>

        <div class="padding">
            <button-link label="Salvar" ng-click="ctrl.changePassword(ctrl.pass)">
            </button-link>
        </div>

    </ion-content>
</ion-view>