<ion-view view-title="Novo Usuário">
    <ion-content ng-controller="AdminCtrl as ctrl">
        <div class="list card">

            <div class="item item-divider">Dados de Acesso</div>
            <div class="item item-body">

                <wrb-input-text placeholder="Nome Completo" ng-model="ctrl.user.nome" type="text"></wrb-input-text>
                <wrb-input-text placeholder="Email" ng-model="ctrl.user.email" type="email"></wrb-input-text>

            </div>

            <div class="item item-divider">Perfil</div>
            <div class="item item-body">
                <ion-toggle ng-model="ctrl.user.profile.admin">Administrador</ion-toggle>
                <wrb-input-check ng-hide="ctrl.user.profile.admin" label="Atleta" name="profile" value="athlete" ng-model="ctrl.user.profile.type" type="radio">
                </wrb-input-check>

                <wrb-input-check ng-hide="ctrl.user.profile.admin" label="Professor" name="profile" value="coach" ng-model="ctrl.user.profile.type" type="radio">
                </wrb-input-check>
            </div>
        </div>

        <div class="list card" id="atleta" ng-show="ctrl.user.profile.type == 'athlete'">
            <div class="item item-divider">Dados de Atleta</div>
            <div class="item item-body">

                <wrb-input-date placeholder="Data de Nascimento" type="text" ng-model="ctrl.user.athlete.birthdate"></wrb-input-date>

                <wrb-input-number placeholder="Peso (kg)" ng-model="ctrl.user.athlete.weight"></wrb-input-number>
                <wrb-input-number placeholder="Altura (m)" ng-model="ctrl.user.athlete.height"> </wrb-input-number>

                <wrb-input-check label="Masculino" name="gender" value="m" ng-model="ctrl.user.athlete.gender" type="radio">
                </wrb-input-check>

                <wrb-input-check label="Feminino" name="gender" value="f" ng-model="ctrl.user.athlete.gender" type="radio">
                </wrb-input-check>
                
            </div>
            <div class="item item-divider">Esportes</div>
            <div class="item item-body">
                <wrb-input-check ng-repeat="sport in ctrl.sports"
                    label="{{sport.label}}" name="sports-athlete" value="{{sport.id}}" ng-model="ctrl.user.athlete.sports[sport.id]" type="checkbox">
                </wrb-input-check>
            </div>

            <div class="item item-divider">Dias disponíveis</div>
            <div class="item item-body">
                <wrb-input-check ng-repeat="weekday in ctrl.weekdays"
                    label="{{weekday.label}}" name="weekday-athlete" value="{{weekday.id}}" ng-model="ctrl.user.athlete.weekday[weekday.id]" type="checkbox">
                </wrb-input-check>
            </div>
        </div>

        <div class="list card" id="professor" ng-show="ctrl.user.profile.type == 'coach'">
            <div class="item item-divider">Dados de Professor</div>
            <div class="item item-body">
                <wrb-input-text placeholder="CREF" ng-model="ctrl.user.coach.cref"></wrb-input-text>
            </div>

            <div class="item item-divider">Esportes</div>
            <div class="item item-body">
                
                <wrb-input-check ng-repeat="sport in ctrl.sports"
                    label="{{sport.label}}" name="sports-coach" value="{{sport.id}}" ng-model="ctrl.user.coach.sports[sport.id]" type="checkbox">
                </wrb-input-check>

            </div>
        </div>

        <div class="padding">
            <button-link label="Salvar" ng-click="ctrl.salvar(ctrl.user)">
            </button-link>
        </div>

    </ion-content>
</ion-view>