<ion-view view-title="Pesquisar Usuário">
    <ion-content ng-controller="SearchUserCtrl as ctrl">
        <div class="list card">
            <div class="item item-body">
                <wrb-input-text placeholder="Pesquisar..." ng-model="ctrl.query" type="text"></wrb-input-text>
                <button-link icon="ion-search" icon-position="left" label="Pesquisar" ng-click="ctrl.searchUser(ctrl.query);"></button-link>
            </div>
        </div>

        <div class="list">

            <list-item-profile ng-repeat="profile in ctrl.userSearch"
                profile="profile" 
                show-badge="true"
            ></list-item-profile>
            
        </div>

    </ion-content>
</ion-view>