<ion-view view-title="Criar Treino" ng-controller="WorkoutCtrl as ctrl">

    <button class="button button-assertive button-fab button-fab-bottom-right" ng-click="ctrl.showOptions()">
        <i class="icon ion-plus"></i>
    </button>

    <ion-content>

        <div class="hero profile-hero hero-mini">
            <div class="content">
                <h3><a class="light">{{ctrl.athlete.credential.name}}</a></h3>
                <h4>{{ctrl.workout.description}}</h4>
            </div>
        </div>

        <div class="list card">

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="step in ctrl.workout.steps">
                    <span class="pull-right">
                        <button class="btn btn-xs" ng-click="ctrl.removeStep(step.idStep)">
                            <span class="fas fa-times-circle"></span>
                        </button>
                    </span>

                    <div class="pull-left">
                        <div>
                            <h6 step-type ng-model="step.stepType">{{step.stepType}}</h6>
                        </div>
                        <div>
                            <p class="workout-desc">{{step.timeDuration}}</p>
                        </div>
                        <div>
                            <p class="workout-desc">{{step.description}}</p>
                        </div>
                    </div>

                </li>
            </ul>
            
        </div>

        <div class="padding">
            <button-link label="Salvar" ng-click="ctrl.saveWorkout()">
            </button-link>
        </div>

    </ion-content>
</ion-view>