<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-assertive">
		<h1 class="title">Adicionar Exercício</h1>
		<button class="button button-clear button-primary" style="top: 0px;" ng-click="modal.hide()"><span class="fas fa-times"></span></button>
	</ion-header-bar>
	<ion-content class="padding">
		<div class="list">

			<div class="form-group">
				<label for="sel1">Tipo de Exercício</label>
				<select class="form-control" id="stepType" ng-model="step.stepType">
					<option value="0" selected>Aquecimento</option>
					<option value="1">Exercício</option>
					<option value="2">Recuperação</option>
					<option value="3">Descanso</option>
					<option value="4">Arrefecimento</option>
				</select>
			</div>

			<wrb-input-text placeholder="Descricao" ng-model="step.description"></wrb-input-text>
			<wrb-input-time placeholder="Duração (min)" ng-model="step.timeDuration"></wrb-input-time>

			<button class="button button-full button-positive" ng-click="ctrl.saveStep()">Adicionar</button>
		</div>
	</ion-content>
</ion-modal-view>