<ion-view view-title="Criar Treino" ng-controller="WorkoutCtrl as ctrl">

    <ion-content>

        <div class="hero profile-hero hero-mini">
            <div class="content">
                <h3><a class="light">{{ctrl.athlete.credential.name}}</a></h3>
                <h4>{{ctrl.athlete.credential.email}}</h4>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider">Novo Treino</div>
            <div class="item item-body">

                <wrb-input-text placeholder="Descricao" ng-model="ctrl.workout.description"></wrb-input-text>
                <wrb-input-date placeholder="Data" type="text" ng-model="ctrl.workout.scheduleDate"></wrb-input-date>
                <wrb-input-time placeholder="Tempo Total (min)" ng-model="ctrl.workout.totalTime"></wrb-input-time>

            </div>
            <div class="item item-divider">Esporte</div>
            <div class="item item-body">
                <wrb-input-radio ng-repeat="sport in ctrl.athlete.sports"
                    label="{{sport.label}}" name="sports-athlete" ng-value="{{sport.idSport}}" ng-model="ctrl.workout.sport.idSport">
                </wrb-input-radio>
            </div>
        </div>

        <div class="padding">
            <button-link label="Próximo" ng-click="ctrl.goToAddSteps(ctrl.athlete.idAthlete, ctrl.workout)">
            </button-link>
        </div>

    </ion-content>
</ion-view>