<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-assertive">
		<h1 class="title">Enviar Feedback</h1>
		<button class="button button-clear button-primary" style="top: 0px;" ng-click="modal.hide()"><span class="fas fa-times"></span></button>
	</ion-header-bar>
	<ion-content class="padding">
		<div class="list">

			<wrb-input-text placeholder="Feedback" ng-model="currentWorkout.feedback"></wrb-input-text>

			<button class="button button-full button-positive" ng-click="sendFeedback(currentWorkout);modal.hide();">Enviar</button>
		</div>
	</ion-content>
</ion-modal-view>