<ion-view view-title="Visualizar Treinos" ng-controller="WorkoutEditCtrl as ctrl">

    <ion-content>
        <ion-refresher on-refresh="ctrl.reload()"></ion-refresher>

        <div class="hero profile-hero hero-mini">
            <div class="content">
                <h3><a class="light">{{ctrl.athlete.credential.name}}</a></h3>
                <h4>{{ctrl.athlete.credential.email}}</h4>
            </div>
        </div>

        <workout-list ng-repeat="workout in ctrl.workouts"
            workout="workout"
            edit="true">
        </workout-list>

    </ion-content>
</ion-view>