<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-assertive">
		<h1 class="title">Feedback</h1>
		<button class="button button-clear button-primary" style="top: 0px;" ng-click="modal.hide()"><span class="fas fa-times"></span></button>
	</ion-header-bar>
    <ion-content class="padding">
        <div class="list card">
            <ul class="list-group">
                <li class="list-group-item">
                    <div>
                        <h6>Feedback</h6>
                    </div>
                    <div>
                        <p class="workout-desc">{{currentWorkout.feedback}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-modal-view>