<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-assertive">
		<h1 class="title">Exercicios</h1>
		<button class="button button-clear button-primary" style="top: 0px;" ng-click="modal.hide()"><span class="fas fa-times"></span></button>
	</ion-header-bar>
	<ion-content class="padding">

		<div class="hero profile-hero hero-mini">
            <div class="content">
                <h3>{{currentWorkout.description}}</h3>
                <h4>{{currentWorkout.sport.label}}</h4>
            </div>
        </div>

		<div class="list card">

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="step in currentWorkout.steps">
                    
                    <div class="pull-left">
                        <div>
                            <h6 step-type ng-model="step.stepType">{{step.stepType}}</h6>
                        </div>
                        <div>
                            <p class="workout-desc">{{step.timeDuration}}</p>
                        </div>
                        <div>
                            <p class="workout-desc">{{step.description}}</p>
                        </div>
                    </div>

                </li>
            </ul>

        </div>
	</ion-content>
</ion-modal-view>