<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-assertive">
		<h1 class="title">Enviar Mensagem</h1>
		<button class="button button-clear button-primary" style="top: 0px;" ng-click="modal.hide()"><span class="fas fa-times"></span></button>
	</ion-header-bar>
    <ion-content class="padding">
        <div class="list card">
            <ul class="list-group">
                <li class="list-group-item">
                    <div>
                        <h6>De: {{currentMessage.from.name}} <{{currentMessage.from.email}}></h6>
                        <h6>Para: {{currentMessage.to.name}} <{{currentMessage.to.email}}></h6>
                    </div>
                </li>
                <li class="list-group-item" ng-controller="MessageCtrl as mCtrl">
                    <wrb-input-text placeholder="Mensagem" ng-model="currentMessage.message"></wrb-input-text>
                    <button class="button button-full button-positive" ng-click="mCtrl.sendMessage(currentMessage);modal.hide();">Enviar</button>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-modal-view>